<app-menu></app-menu>
<section class="heading">
  <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
</section>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ID</th><th>Name</th><th>Birth Date</th><th>Gender</th><th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let actor of actors'>
      <td>{{actor.id}}</td>
      <td>{{actor.lastName + ", " + actor.firstName}}</td>
      <td>{{actor.birthDate}}</td>
      <td>{{actor.gender}}</td>
      <td><a routerLink='/actor-detail/{{actor.id}}'>
        <img width='20' height='20' src='assets/details.png' title='Actor Details'></a> |
      <a routerLink='/actor-edit/{{actor.id}}'>
        <img width='20' height='20' src='assets/pencil-icon.png' title='Actor Edit'></a></td>
    </tr>
  </tbody>
</table>