<app-menu></app-menu>
<section class = "heading">
    <span class = "page-title font-weight-bold font-italic"> [{{title}}]</span>
</section>
<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th>ID</th><th>First Name</th><th>Last Name</th><th>Gender</th><th>BirthDate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= 'let actor of actors'>
        <td>{{actor.id}}</td>
        <td>{{actor.firstName}}</td>
        <td>{{actor.lastName}}</td>
        <td>{{actor.gender}}</td>
        <td>{{actor.birthDate}}</td>
        <td>Detail | Edit</td>
    </tr>
    </tbody>
</table>