<body>
  <div class="Welcome" style=background-color:gray>
    <style>
      h1 {
        text-align: center;
        color: red;
        text-shadow: -1px 1px 0 #000,
          1px 1px 0 #000,
          1px -1px 0 #000,
          -1px -1px 0 #000
      }

      ;

      p {
        text-align: center;
      }

      div {
        text-align: center;
      }
    </style>
    <h1>Bmdb Movie Database</h1>
  </div>
  <div class='component-content'>
    <form class='text-center'>

      <table *ngIf='user' class='table-sm'
        style='margin:50px auto;padding: 5px 20px;border:4px solid rgb(160, 110, 110);width:400px;background-color: rgba(247, 206, 206, 0.85);'>
        <tr class='text-center'>
          <td colspan="2"><b>Login</b></td>
        </tr>
        <tr>
          <td>Username:</td>
          <td><input [(ngModel)]='user.userName' name='Username' type='text'></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input [(ngModel)]='user.password' name='Password' type='password'></td>
        </tr>
        <tr>
          <td class='text-center' colspan="2"><button type='submit' (click)="login()"
              class='btn btn-primary'>Login</button></td>
        </tr>
        <tr>
          <td colspan="2"><label class='text-sm-left'>{{msg}}</label></td>
        </tr>
      </table>
    </form>
  </div>
  <div id="client_logos">
    <style>
      img {
        border: 5px solid rgb(160, 110, 110);
      }
    </style>

    <img style="display: inline; margin: 0 5px;" title="carpet" src="assets/carpet.png" alt="" width="200"
      height="150" />
    <img style="display: inline; margin: 0 5px;" title="oscar" src="assets/oscar.png" alt="" width="200" height="150"/>
    <img style="display: inline; margin: 0 5px;" title="sign" src="assets/sign.png" alt="" width="200" height="150" />
    <img style="display: inline; margin: 0 5px;" title="star" src="assets/star.png" alt="" width="200" height="150" />
    <img style="display: inline; margin: 0 5px;" title="film" src="assets/film.png" alt="" width="200" height="150" />
  </div>

</body>